<body>
<h1>Mi Lista de la Compra</h1>
<table>
  <tr>
    <th>Comprado</th>
    <th>Nombre</th>
    <th>Marca</th>
  </tr>
  <tr *ngFor="let producto of productos index as i;" class="producto" (click)="toggleProducto(i)">
    <td>
      <input type="checkbox" name="comprado-{{i}}" [(ngModel)]="producto.comprado">
      <!--      //opcion volver a comprar al desmarcar el checkbox-->
    </td>
    <td>{{producto.nombre}}</td>
    <td>{{producto.marca}}</td>
  </tr>
</table>


<h2>Productos Comprados:</h2>
<ul>
<span *ngFor="let producto of productos index as i;">
  <li *ngIf="producto.comprado" (click)="toggleProducto(i)">{{producto.nombre}}</li>
</span>
</ul>

</body>
