<body>
<h1>Mi Lista de la Compra</h1>
<table>
  <tr>
    <th>Lista</th>
    <th>Por Comprar</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li *ngFor="let producto of productos index as i;" class="producto" (click)="toggleProducto(i)">
          {{producto.nombre}}
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <span *ngFor="let producto of productos index as i;">
          <li *ngIf="producto.comprado" (click)="toggleProducto(i)">{{producto.nombre}}</li>
        </span>
      </ul>
    </td>
  </tr>
</table>
</body>
