
.producto:hover {
  background: #607D8B;
}

td {
  width: 200px;
}

ul {
  list-style-type: none;
}

li {
  background-color: #EEE;
  padding: 1em;
  height: 3em;
  border-radius: 4px;
  margin: 0.5em;
}

li:hover {
  background: #607D8B;
  left: .1em;
  font-weight: bolder;
}
