<div class="loginDiv" *ngIf="( authComponent.user | async) as obs; else login">{{obs.email}} - {{obs.uid}}
  <br/><br/>&nbsp;
  <button class="btn btn-secondary" (click)="authComponent.logout()">OUT</button>&nbsp;<br><br>
  <button class="btn btn-warning" (click)="fireDB.altausuario(obs.email, obs.uid)"><i class="fas fa-check"></i> ALTA
  </button>
  <br><br>
  <button class="btn btn-danger" (click)="fireDB.bajausuario(obs.uid)"><i class="far fa-trash-alt"></i> BAJA</button>
  <br><br>

  <br/><br/>


  <app-lista-productos></app-lista-productos>

</div>

<ng-template #login>
  <div class="loginDiv">
    <br/><br/>
    <button class="btn btn-primary" (click)="authComponent.login()">
      <i class="far fa-envelope"></i>
      Email Login
    </button>
    <br/><br/>
    <button class="btn btn-danger" (click)="authComponent.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
    <br/><br/>
    <button class="btn btn-danger" (click)="authComponent.ghlogin()">
      <i class="fab fa-github"></i>
      Github Login
    </button>
  </div>
</ng-template>

