<div class="loginDiv" *ngIf="( authService.user | async) as obs; else login">{{obs.email}} - {{obs.uid}}
  <br/><br/>&nbsp;
  <button class="btn btn-secondary" (click)="authService.logout()">OUT</button>&nbsp;<br><br>
  <br><br>
  <button class="btn btn-danger" (click)="authService.eliminarCuenta()"><i class="far fa-trash-alt"></i> BAJA</button>
  <br><br>

  <br/><br/>


  <app-lista-productos></app-lista-productos>

</div>

<ng-template #login>
  <div class="loginDiv">

    <form class="form">

      <input class="form-control" type="text" name="email"
             placeholder="Escribe tu email ..."
             [(ngModel)]="authService.email"
      />
      <br>

      <input class="form-control" type="password" name="pass"
             placeholder="Escribe tu contraseña ..."
             [(ngModel)]="authService.pass"
      />

      <br/><br/>
      <button class="btn btn-primary" (click)="registrar()">
        <i class="far fa-envelope"></i>
        Registrar
      </button>
      <br/><br/>
      <button class="btn btn-primary" (click)="loginEmail()">
        <i class="far fa-envelope"></i>
        Email Login
      </button>
      <br/><br/>
      <button class="btn btn-danger" (click)="authService.glogin()">
        <i class="fab fa-google"></i>
        Google Login
      </button>
      <br/><br/>
      <button class="btn btn-danger" (click)="authService.ghlogin()">
        <i class="fab fa-github"></i>
        Github Login
      </button>

      <br/><br/>
    </form>
    <button class="btn btn-danger" (click)="authService.sendPasswordRequest()">
      Recover Password
    </button>
  </div>
</ng-template>

